{% extends 'base.html.twig' %}

{% block title %}Recherche d'images{% endblock %}
{% block classBody %} search userImages {% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">{% endblock %}


{% block body %}
{{ form_start(form) }}
    {{ form_widget(form.name) }}
    <button type = "submit" class="btn btn-info">Rechercher</button>
    {{ form_end(form) }}
    {% if searchImage|length == 0 %}
    <figure class="no-result">
        <img src="{{ asset('asset/icons/monkey.png') }}"/>
        <figcaption>
            <p>Oops ! Il n'y a aucun résultat pour votre recherche</p>
        </figcaption>
    </figure>
    
    {% else %}
    <h3>Il y a {{  searchImage|length}} images correspondant à <span class="imgSearch">{{ research.name|upper }}</span> </h3>
    <div class="container">

        {% for result in searchImage %}
       
<div class="card">
    <a href="{{asset('/images/' ~ result.name )}}" data-lightbox="search-image" data-title="{{ result.title }}">
        <img class="card-img-top" src= "{{asset('/images/' ~ result.name )}}">
    </a>
    <h5> {{ result.title }} </h5>
    <div class="card-body">
            {% for displayTags in result.tags %}
            <span><a href="{{ path('home', {'name': displayTags.name }) }}">#{{ displayTags.name }}</a></span>
            {% endfor %}
        </div>
    </div>
        {% endfor %}


    {% endif %}
    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
    
    {% endblock %}
    
{% endblock %}
