<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css">
    {% block stylesheets %}{% endblock %}
</head>

<body class="contact">
{% for message in app.flashes('success') %}
                <div class="flash-notice">
                <div class="alert alert-success" role="alert">
                        {{ message }}
                </div>
                </div>
                {% endfor %}
<section class="main">
        <div class="contact-img">
                <img src="/asset/contact.jpg">
        </div>
        <div class="form">
                {{ form_start(form) }}
<h1>Contactez moi </h1>

{{ form_row(form.name) }}
{{ form_row(form.email) }}
{{ form_row(form.message) }}

<button class ="btn btn-primary" type="submit">Envoyer</button>

{{ form_end(form) }}
        </div>
</section>



</body>
