{% extends "base.html.twig" %}
{% block title %}Contact{% endblock %}


{% block classBody %}contact{% endblock %}

{% block body %} 
{% for message in app.flashes('success') %}
                <div class="flash-notice">
                <div class="alert alert-success" role="alert">
                        {{ message }}
                </div>
                </div>
                {% endfor %}

<div class="form">
{{ form_start(form) }}
<h1>Contactez moi </h1>

{{ form_row(form.name) }}
{{ form_row(form.email) }}
{{ form_row(form.message) }}

<button class ="btn btn-primary" type="submit">Envoyer</button>

{{ form_end(form) }}
</div>
{% endblock %}
{% block javascript %}
<script>
    $('form input').on("click",function(){
        $('form').addClass('appear');

    })
    $('body').on("mouseup",function(){
        $('form').removeClass('appear');

    })
</script>

{% endblock %}