{% extends "base.html.twig" %}

{% block title %}Edition d'une image{% endblock %}


{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block classBody %}user editImage{% endblock %}

{% block body %}

{% set formArray = form.tags.vars.value|split(',') %}


<h1>Modification de l'image :</h1>
<p><img src="{{asset('/images/' ~ image.name )}}"></p>


{{ form_start(form) }}
{{ form_row(form.file) }}
{{ form_row(form.title) }}
<div class="form-group">
    <label for="image_allTags">Ajouter vos tags</label>
    <select id="image_allTags" required="required" class="form-control" multiple=""  tabindex="-1" aria-hidden="true">
    {% for tag in tags %}
    <option value="{{ tag.id }}"{% if tag.name in formArray %} selected="selected" {% endif %}>{{ tag.name }}</option>
    {% endfor %}
    </select>
   
</div>

{{ form_row(form.tags) }}

<button type="submit" class="btn btn-primary">Envoyer</button>

{{ form_end(form) }}


{% endblock %}

{% block javascript %}
    <script>
        $('.custom-file-input').on('change', function(event)
         {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name)
                        .css("color","#000");
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

    <script src="{{asset('/js/selectFormEditImage.js')}}"></script>

{% endblock %}
